html{
    min-height: 100%;
    background-color: beige;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 100px;
}
#reset, 
#classic,
#rainbow,
#eraser {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: 3px solid black;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1.2vw;
}
#reset:hover, 
#classic:hover, 
#rainbow:hover,
#eraser:hover{
    cursor: pointer;
    background-color: blue;
}
.gridContainer{
   display: inline-grid; 
   border: 5px solid black;
   border-radius: 5px;
   height: 680px;
   width: 680px;
}
.square{
    border: 3px solid darkgray;
}
h2{
    margin-bottom: 40px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
